<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: Navigator</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-12">
                <form id="passwordChange" method="post" action="" th:action="@{/secured/user/profile/pwd}" th:object="${passwordChange}" role="form">
                    <div class="panel panel-default" id="edit_info_panel">
                        <a class="panel-default" data-toggle="collapse" data-parent="#passwordChange" href="#passwordChangeBody">
                            <div class="panel-heading">
                                <h4><i class="fa fa-lock fa-fw"></i> Password Change</h4>
                            </div>
                        </a>
                        <div id="passwordChangeBody" class="panel-collapse collapse" th:class="${pwdChangeErr} ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" th:class="${pwdChangeErr} ? 'form-group alert alert-danger' : 'form-group'">
                                            <label th:if="${pwdChangeErr}" for="currentPassword">Current Password:
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span th:text="${pwdChangeErr}">Bad password.</span>
                                            </label>
                                            <label th:unless="${pwdChangeErr}" for="currentPassword">Current Password:</label>
                                            <input id="currentPassword" name="currentPassword" class="form-control" type="password" value="" th:value="*{currentPassword}" th:field="*{currentPassword}" autofocus="autofocus" />
                                        </div>
                                        <div class="form-group">
                                            <label for="newPassword">New Password:</label>
                                            <input id="newPassword" name="newPassword" class="form-control" type="password" value="" th:value="*{newPassword}" th:field="*{newPassword}" />
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm Password:</label>
                                            <input id="confirmPassword" name="confirmPassword" class="form-control" type="password" value="" th:value="*{confirmPassword}" th:field="*{confirmPassword}" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-block btn-success" value="Save" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="../../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script>
            $.validator.addMethod("nowhitespace", function (value, element) {
                return this.optional(element) || /^\S+$/i.test(value);
            }, "No white space please");

            $('#passwordChange').validate({
                rules: {
                    currentPassword: {
                        minlength: 5,
                        maxlength: 25,
                        nowhitespace: true,
                        required: true
                    },
                    newPassword: {
                        minlength: 5,
                        maxlength: 25,
                        nowhitespace: true,
                        required: true
                    },
                    confirmPassword: {
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    currentPassword: "Please enter valid a password (5-25 chars).  No space",
                    newPassword: "Please enter valid a password (5-25 chars). No space",
                    confirmPassword: "Does not match new password."
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        </script>
    </body>
</html>
