<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: File Information</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <style>
            .table th, .table td { 
                border: none !important; 
            }
            .comma {
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
            }
        </style>
        <script src="../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>X0<span class="comma">,</span>X1<span class="comma">,</span>X2<span class="comma">,</span>X3<span class="comma">,</span>X4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.8044<span class="comma">,</span>-1.7096<span class="comma">,</span>1.4422<span class="comma">,</span>2.4030<span class="comma">,</span>-1.1369</td>
                    </tr>
                    <tr>
                        <td>2.4475<span class="comma">,</span>0.5148<span class="comma">,</span>2.5901<span class="comma">,</span>-0.0721<span class="comma">,</span>1.4016</td>
                    </tr>
                    <tr>
                        <td>1.9147<span class="comma">,</span>0.0218<span class="comma">,</span>2.3734<span class="comma">,</span>3.4512<span class="comma">,</span>1.2840</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
