<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: Data Annotations</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/css/data/dataAnnotations.css" th:href="@{/css/data/dataAnnotations.css}" />
        <script src="../../static/js/annotations.js" th:src="@{/js/annotations.js}"></script>
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigator :: nav">
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" th:text="'Annotations: ' + ${fileName}">file name</h3>
                        <button type="button" class="btn btn-default" id="new-annotation" data-toggle="modal" data-target="#create-annotation" onclick="prepareCreateAnnotation()">New annotation</button>
                        <div class="pull-right" id="anno-search-form">
                            <form class="form-inline" role="search" onsubmit="return false;" action="">
                                <div class="btn-group">
                                    <!-- Clicking enter on input box submits search query -->
                                    <input type="text" class="form-control" id="anno-search-terms" placeholder="Search" onkeypress="if (event.keyCode == 13) document.getElementById('anno-search-btn').click()"/>
                                </div>
                                <button type="button" class="btn btn-default" id="anno-search-btn" onclick="submitSearch()" title="Submit"><i class="glyphicon glyphicon-search"></i></button>
                                <button type="button" class="btn btn-danger" id="anno-search-clear" onclick="clearSearch()" title="Clear" disabled="disabled"><i class="glyphicon glyphicon-remove-sign"></i></button>
                            </form>
                            <button type="button" class="btn btn-link pull-right" id="anno-adv-search-btn" onclick="prepareAdvSearchForm()" data-toggle="modal" data-target="#anno-adv-search">Advanced search</button>
                        </div>
                        <ul id="annotations" class="media-list"></ul>
                        <script type="text/javascript" th:inline="javascript">
                            /*<![CDATA[*/
                            /* begin thymeleaf templating */

                            const searchURL = annoURL + "/search";
                            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                            // var vocabularies = {};
                            // var attributes = {};

                            // get values from server
                            var fileName = /*[[${fileName}]]*/ null;
                            var username = /*[[${username}]]*/ null;
                            var annotationTargetID = /*[[${annotationTargetID}]]*/ null;

                            // start by showing all annotations for file and user
                            fetchAllAnnotations();

                            // parameters always included in request
                            function defaultParams() {
                                return {
                                    user: username,
                                    target: annotationTargetID,
                                    sort: 'created,desc'
                                };
                            }

                            // submit search
                            function submitSearch() {
                                // get search terms
                                var terms = $("#anno-search-terms").val();

                                // submit search if terms is filled
                                if (terms) {
                                    terms = terms.replace(/\s+/g, '+').toLowerCase();

                                    // add search terms to parameters
                                    var params = defaultParams();
                                    params.terms = terms;

                                    // enable clear button
                                    $("#anno-search-clear").prop("disabled", false);

                                    // get annotations
                                    searchAnnotations(params);
                                }
                            }

                            // clear search
                            function clearSearch() {
                                // empty search boxes
                                $("#anno-search-terms").val('');
                                clearAdvSearch();

                                // clear search annotations
                                $("#annotations").empty();

                                // disable clear button
                                $("#anno-search-clear").prop("disabled", true);

                                // fetch annotations
                                fetchAllAnnotations();
                            }

                            function clearAdvSearch() {
                                $('#anno-adv-search-vocabulary-select').val('None');
                                $("#anno-adv-search-terms").val('');
                                $("#anno-adv-search-string").val('');
                                $("#anno-adv-search-none").val('');
                                $('#adv-search-param-error').hide();                           
                            }

                            function searchAnnotations(params) {
                                getRequest(searchURL, params)
                                    .done(function(result) {
                                        displayAnnotations(result);
                                    });
                            }

                            function fetchAnnotations(params) {
                                getRequest(annoURL, params)
                                    .done(function(result) {
                                        displayAnnotations(result);
                                    });
                            }

                            function fetchAllAnnotations() {
                                // add parentless flag to parameters
                                var params = defaultParams();
                                params.parentless = true;
                                fetchAnnotations(params);
                            }

                            function fetchChildAnnotations(parent, params) {
                                if (parent['_links'].hasOwnProperty('children')) {
                                    getRequest(annoURL+'/'+parent.id+'/children', params)
                                        .done(function(result) {
                                            displayChildAnnotations(parent.id, result);
                                        });
                                }
                            }

                            function displayAnnotations(data) {
                                if (data.hasOwnProperty('_embedded')) {
                                    var annotations = data['_embedded']['annotations'];

                                    // clear current annotations
                                    $("#annotations").empty();

                                    // create nested media elements
                                    var media = document.createElement('li');
                                    media.className = 'media';
                                    media.id = 'annotations-media';
                                    $('#annotations').append(media);

                                    // create elements for each annotation
                                    $.each(annotations, function(index, anno) {
                                        var annotation = annotationElement(anno);
                                        $('#annotations-media').append(annotation);
                                        fetchChildAnnotations(anno, defaultParams());
                                    });
                                } else {
                                    $("#annotations").empty();
                                    $("#annotations").append("<h4>No annotations found</h4>");
                                }
                            }

                            function displayChildAnnotations(parentId, data) {
                                if (data.hasOwnProperty('_embedded')) {
                                    var annotations = data['_embedded']['annotations'];
                                    $.each(annotations, function(index, anno) {
                                        var annotation = childAnnotationElement(anno);
                                        $('#annotation-' + parentId + ' .media-body').append(annotation);
                                        fetchChildAnnotations(anno, defaultParams());
                                    });
                                }
                            } 

                            function annotationElement(annotation) {
                                var date = formatDate(annotation.created);
                                var user = annotation.user;

                                // create annotation element
                                var annotationElement = $('<div></div>')
                                    .addClass('media')
                                    .attr('id', 'annotation-' + annotation.id)
                                    .append($('<div></div>')
                                        .addClass('media-body')
                                        .append($('<div></div>')
                                            .addClass('annotation panel panel-default')
                                            .append($('<div></div>')
                                                .addClass('panel-heading')
                                                .append($('<h5></h5>')
                                                    .addClass('panel-title')
                                                    .html(user + '&nbsp; <span class="anno-date">' + date + '</span>'))
                                                .append($('<span></span>')
                                                    .addClass('pull-right clickable')
                                                    .html('<i class="glyphicon glyphicon-chevron-up"></i>')))
                                            .append($('<div></div>')
                                                .addClass('panel-body')
                                                .css('display', 'block')
                                                .text(annotation.data[0].value))
                                            .append($('<div></div>')
                                                .addClass('panel-footer')
                                                .append($('<button></button>')
                                                    .attr('type', 'button')
                                                    .addClass('btn btn-link')
                                                    .text('Annotate')))));
                                    return annotationElement;
                            }

                            function childAnnotationElement(annotation) {
                                var childAnnotation = annotationElement(annotation);
                                childAnnotation.prepend($('<div></div>')
                                    .addClass('media-left'));
                                return childAnnotation;
                            }

                            function formatDate(date) {
                                // parse date
                                date = new Date(Date.parse(date));

                                var year = date.getFullYear();
                                var month = months[date.getMonth()];
                                var day = date.getDate();
                                // convert hours to 12 hr time
                                var hour = (date.getHours() == 0 || date.getHours() == 12) ? 12 : date.getHours() % 12;
                                // prepend 0 to minute if under 10
                                var minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes()
                                // calculate period based on hour
                                var period = (date.getHours() > 11) ? 'PM' : 'AM';

                                return month + ' ' + day + ', ' + year + ' at ' + hour + ':' + minute + ' ' + period;
                            }

                            /* end thymeleaf templating */
                            /*]]>*/
                        </script>
                    </div>
                </div>
            </div>
            <div id="create-annotation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-annotation-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearCreateAnno()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="create-annotation-label">Create annotation</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <h5>Vocabulary</h5>
                                    <select id="create-anno-vocabulary-select" class="form-control" onchange="selectVocabulary(value);">
                                        <optgroup id="create-anno-vocabulary-optgroup" label="Select one">
                                        </optgroup>
                                    </select>
                                    <div id='create-anno-attribute-select'>
                                        <h5>Attribute level</h5>
                                        <select id="attribute-level-select" class="form-control" onchange="selectAttributeLevel(value)">
                                            <optgroup id="attribute-level-optgroup" label="Select one">
                                            </optgroup>
                                        </select>
                                        <h5>Attribute</h5>
                                        <select id="attribute-select" class="form-control">
                                            <optgroup id="attribute-optgroup" label="Select one">
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div id='create-anno-text-input'>
                                        <h5>Text</h5>
                                        <textarea class="form-control" rows="5" id="create-anno-text"></textarea>
                                    </div>
                                    <script type="text/javascript" th:inline="javascript">
                                        var attributes = [];
                                        function prepareCreateAnnotation() {
                                            getRequest(vocabURL).done(function(data) {
                                                $('#create-anno-vocabulary-optgroup').empty();
                                                var vocabularies = data['_embedded']['vocabularies'];
                                                $.each(vocabularies, function(index, vocabulary) {
                                                    $('#create-anno-vocabulary-optgroup')
                                                        .append($('<option></option>')
                                                            .attr('value', Number(vocabulary.id))
                                                            .attr('data-subtext', vocabulary.description)
                                                            .text(vocabulary.name));
                                                    });
                                            });
                                        }

                                        function selectVocabulary(value) {
                                            $('#attribute-optgroup').empty();
                                            $('#attribute-level-optgroup').empty();
                                            attributes = [];
                                            fetchAttributes(value);
                                        }

                                        function fetchAttributes(vocabularyID) {
                                            // Attribute request
                                            getRequest(vocabURL + '/' + vocabularyID + '/attributes').done(function(data) {
                                                attributes = data['_embedded']['attributes'];
                                                if (attributes.length > 1) {
                                                    $('#create-anno-attribute-select').show();
                                                    $('#attribute-level-optgroup').empty();
                                                    var levels = [];
                                                    $.each(attributes, function(index, attribute) {
                                                        if ($.inArray(attribute.level, levels) === -1) {
                                                            levels.push(attribute.level);
                                                            var option = document.createElement('option');
                                                            option.setAttribute('value', attribute.level);
                                                            option.innerHTML = attribute.level;
                                                            $('#attribute-level-optgroup').append(option);
                                                        }
                                                    });
                                                } else {
                                                    $('#create-anno-attribute-select').hide();
                                                }
                                            });
                                        }

                                        function selectAttributeLevel(level) {
                                            $.each(attributes, function(index, attribute) {
                                                if (attribute.level === level) {
                                                    var option = document.createElement('option');
                                                    option.setAttribute('value', Number(attribute.id));
                                                    option.innerHTML = attribute.name;
                                                    $('#attribute-optgroup').append(option);
                                                }
                                            });
                                        }

                                        function createAnnotation() {
                                            var params = {
                                                target: annotationTargetID,
                                                access: 'private',
                                                vocabulary: $('#create-anno-vocabulary-select option:selected').text(),
                                                data : [{
                                                    attribute: (attributes.length == 1) ? Number(attributes[0].id) : $('#attribute-select option:selected').val(),
                                                    value: $('#create-anno-text').val()
                                                }]
                                            }
                                            // submit annotation
                                            postRequest(annoURL, params).done(function() {
                                                fetchAllAnnotations();
                                            });
                                            clearCreateAnno();
                                        }

                                        function clearCreateAnno() {
                                            $('#create-anno-attribute-select').show();
                                            $('#create-anno-text').val('');
                                        }
                                    </script>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearCreateAnno()">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="createAnnotation()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="anno-adv-search" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="anno-adv-search-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="anno-adv-search-label">Advanced search</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Vocabulary</legend>
                                        <select id="anno-adv-search-vocabulary-select" class="form-control">
                                            <optgroup id="anno-adv-search-vocabulary-optgroup">
                                            </optgroup>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Text</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-terms">All of these words</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-terms"/>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-string">This exact phrase</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-string"/>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-none">None of these words</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-none"/>
                                        </div>

                                    </fieldset>
                                </div>
                            </form>
                            <script type="text/javascript" th:inline="javascript">
                                function prepareAdvSearchForm() {
                                    getRequest(vocabURL).done(function(data) {
                                        $('#anno-adv-search-vocabulary-optgroup').empty();
                                        $('#anno-adv-search-vocabulary-optgroup').append($('<option></option>')
                                            .attr('value', 'None')
                                            .attr('selected', 'true')
                                            .text('Select'));
                                        var vocabularies = data['_embedded']['vocabularies'];
                                        $.each(vocabularies, function(index, vocabulary) {
                                            $('#anno-adv-search-vocabulary-optgroup')
                                                .append($('<option></option>')
                                                    .attr('value', vocabulary.name)
                                                    .attr('data-subtext', vocabulary.description)
                                                    .text(vocabulary.name));
                                            });
                                    });                                    
                                }
                                function advSearchAnnotations() {
                                    var params = defaultParams();

                                    // vocabulary params
                                    var selectedVocab = $('#anno-adv-search-vocabulary-select').find(":selected").val();

                                    // text params
                                    var words = $('#anno-adv-search-terms').val();
                                    var string = $('#anno-adv-search-string').val();
                                    var not = $('#anno-adv-search-none').val();

                                    if (words || string || not) {
                                        if (words || string) {
                                            words = words.replace(/\s+/g, '+').toLowerCase();
                                            string = string.replace(/\s+/g, '_').toLowerCase();
                                            params.terms = string + '+' + words;
                                        }
                                        if (not) {
                                            not = not.replace(/\s+/g, '+').toLowerCase();
                                            params.not = not;
                                        }
                                        if (selectedVocab !== 'None') {
                                            params.vocab = selectedVocab;
                                        }

                                        // enable clear button
                                        $("#anno-search-clear").prop("disabled", false);
                                        searchAnnotations(params);
                                        $('#adv-search-param-error').hide();
                                        $('#anno-adv-search').modal('toggle');
                                    } else {
                                        $('#adv-search-param-error').show();
                                    }
                                }
                            </script>
                        </div>
                        <div class="modal-footer">
                            <div id='adv-search-param-error' class='error pull-left'>At least one parameter is required</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearAdvSearch()">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="advSearchAnnotations()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
    </body>
</html>
