<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: Data Annotations</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/css/data/dataAnnotations.css" th:href="@{/css/data/dataAnnotations.css}" />
        <script src="../../static/js/annotations.js" th:src="@{/js/annotations.js}"></script>
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigator :: nav">
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header" th:text="'Annotations: ' + ${fileName}">file name</h3>
                        <button type="button" class="btn btn-default" id="new-annotation" data-toggle="modal" data-target="#create-annotation">New annotation</button>
                        <div class="pull-right" id="anno-search-form">
                            <form class="form-inline" role="search" onsubmit="return false;" action="">
                                <div class="btn-group">
                                    <!-- Clicking enter on input box submits search query -->
                                    <input type="text" class="form-control" id="anno-search-terms" placeholder="Search" onkeypress="if (event.keyCode == 13) document.getElementById('anno-search-btn').click()"/>
                                </div>
                                <button type="button" class="btn btn-default" id="anno-search-btn" onclick="submitSearch()" title="Submit"><i class="glyphicon glyphicon-search"></i></button>
                                <button type="button" class="btn btn-danger" id="anno-search-clear" onclick="clearSearch()" title="Clear" disabled="disabled"><i class="glyphicon glyphicon-remove-sign"></i></button>
                            </form>
                            <button type="button" class="btn btn-link pull-right" id="anno-adv-search-btn" data-toggle="modal" data-target="#anno-adv-search">Advanced search</button>
                        </div>
                        <ul id="annotations" class="media-list"></ul>
                        <script type="text/javascript" th:inline="javascript">
                            /*<![CDATA[*/
                            /* begin thymeleaf templating */

                            const searchURL = annoURL + "/search";
                            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

                            var vocabularies = {};
                            var attributes = {};

                            // get values from server
                            var fileName = /*[[${fileName}]]*/ null;
                            var username = /*[[${username}]]*/ null;
                            var annotationTargetID = /*[[${annotationTargetID}]]*/ null;

                            // start by showing all annotations for file and user
                            fetchAllAnnotations();

                            // parameters always included in request
                            function defaultParams() {
                                return {
                                    user: username,
                                    target: annotationTargetID
                                };
                            }

                            // submit search
                            function submitSearch() {
                                // get search terms
                                var terms = $("#anno-search-terms").val();

                                // submit search if terms is filled
                                if (terms) {
                                    terms = terms.replace(/\s+/g, '+').toLowerCase();

                                    // add search terms to parameters
                                    var params = defaultParams();
                                    params.terms = terms;

                                    // enable clear button
                                    $("#anno-search-clear").prop("disabled", false);

                                    // get annotations
                                    searchAnnotations(params);
                                }
                            }

                            // clear search
                            function clearSearch() {
                                // empty search boxes
                                $("#anno-search-terms").val('');
                                $("#anno-adv-search-terms").val('');
                                $("#anno-adv-search-string").val('');
                                $("#anno-adv-search-none").val('');

                                // clear search annotations
                                $("#annotations").empty();

                                // disable clear button
                                $("#anno-search-clear").prop("disabled", true);

                                // fetch annotations
                                fetchAllAnnotations();
                            }

                            function searchAnnotations(params) {
                                params.sort = "created,desc";
                                getRequest(searchURL, params)
                                    .done(function(result) {
                                        displayAnnotations(result);
                                    });
                            }

                            function fetchAnnotations(params) {
                                params.sort = "created,desc";
                                getRequest(annoURL, params)
                                    .done(function(result) {
                                        displayAnnotations(result);
                                    });
                            }

                            function fetchAllAnnotations() {
                                // add parentless flag to parameters
                                var params = defaultParams();
                                params.parentless = true;
                                fetchAnnotations(params);
                            }

                            function displayAnnotations(data) {
                                if (data.hasOwnProperty('_embedded')) {
                                    var annotations = data['_embedded']['annotations'];

                                    // clear current annotations
                                    $("#annotations").empty();

                                    // create nested media elements
                                    var media = document.createElement('li');
                                    media.className = 'media';
                                    media.id = 'annotations-media';
                                    $('#annotations').append(media);

                                    // create elements for each annotation
                                    $.each(annotations, function(index, anno) {
                                        var date = formatDate(anno.created);
                                        var user = anno.user;

                                        // create media element
                                        var annotation = document.createElement('div');
                                        annotation.className = 'media';

                                        // annotation data
                                        var mediaBody = document.createElement('div');
                                        mediaBody.className = 'media-body';

                                        // create collapsible panel
                                        var panel = document.createElement('div');
                                        panel.className = 'annotation panel panel-default';

                                        // panel header
                                        var header = document.createElement('div');
                                        header.className = 'panel-heading';
                                        var title = document.createElement('h5');
                                        title.className = 'panel-title';
                                        title.innerHTML = user + '&nbsp; <span class="anno-date">' + date + '</span>';
                                        var collapseButton = document.createElement('span');
                                        collapseButton.className = 'pull-right clickable';
                                        collapseButton.innerHTML = '<i class="glyphicon glyphicon-chevron-up"></i>';
                                        header.appendChild(title);
                                        header.appendChild(collapseButton);
                                        panel.appendChild(header);

                                        // panel body
                                        var body = document.createElement('div');
                                        body.className = 'panel-body';
                                        body.style.display = 'block';
                                        body.innerHTML = anno.data[0].value;
                                        panel.appendChild(body);

                                        // new child annotation button
                                        var panelFooter = document.createElement('div');
                                        panelFooter.className = 'panel-footer';

                                        var newChildAnnotationButton = document.createElement('button');
                                        newChildAnnotationButton.setAttribute('type', 'button');
                                        newChildAnnotationButton.className = 'bnt btn-link';
                                        newChildAnnotationButton.innerHTML = 'Annotate';
                                        panelFooter.appendChild(newChildAnnotationButton);
                                        panel.appendChild(panelFooter);

                                        // add media element to annotation
                                        mediaBody.appendChild(panel);
                                        annotation.appendChild(mediaBody);

                                        // add annotation to page
                                        $("#annotations-media").append(annotation);
                                    });
                                } else {
                                    $("#annotations").empty();
                                    $("#annotations").append("<h4>No annotations found</h4>");
                                }
                            }

                            function formatDate(date) {
                                // parse date
                                date = new Date(Date.parse(date));
                                var year, month, day, hour, minute, period;
                                year = date.getFullYear();
                                month = months[date.getMonth()];
                                day = date.getDate();

                                // calculate period based on hour
                                if (date.getHours() % 12 == 0) {
                                    hour = date.getHours();
                                    period = 'AM';
                                } else {
                                    hour = date.getHours() % 12;
                                    period = 'PM';
                                }

                                // prepend 0 to minute if under 10
                                minute = ((date.getMinutes() < 10) ? '0' : '') + date.getMinutes()

                                return month + ' ' + day + ', ' + year + ' at ' + hour + ':' + minute + ' ' + period;
                            }

                            /* end thymeleaf templating */
                            /*]]>*/
                        </script>
                    </div>
                </div>
            </div>
            <div id="create-annotation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-annotation-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="create-annotation-label">Create annotation</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <h5>Vocabulary</h5>
                                    <select id="create-anno-vocabulary-select" class="form-control" onchange="selectVocabulary(value);">
                                        <optgroup id="create-anno-vocabulary-optgroup" label="Select one">
                                        </optgroup>
                                    </select>
                                    <h5>Attribute level</h5>
                                    <select id="attribute-level-select" class="form-control" onchange="selectAttributeLevel(value)">
                                        <optgroup id="attribute-level-optgroup" label="Select one">
                                        </optgroup>
                                    </select>
                                    <h5>Attribute</h5>
                                    <select id="attribute-select" class="form-control">
                                        <optgroup id="attribute-optgroup" label="Select one">
                                        </optgroup>
                                    </select>
                                    <script type="text/javascript" th:inline="javascript">
                                        selectVocabulary(1);
                                        var levels = new Array();
                                        var attributes;

                                        // Vocabulary request
                                        getRequest("/vocabularies").done(function(data) {
                                            var vocabularies = data['_embedded']['vocabularies'];
                                            $.each(vocabularies, function(index, vocabulary) {
                                                var option = document.createElement('option');
                                                option.setAttribute('value', Number(vocabulary.id));
                                                option.setAttribute('data-subtext', vocabulary.description);
                                                option.innerHTML = vocabulary.name;
                                                $('#create-anno-vocabulary-optgroup').append(option);
                                            });
                                        });

                                        function selectVocabulary(value) {
                                            fetchAttributes(value);
                                            $('#attribute-optgroup').empty();
                                        }

                                        function fetchAttributes(vocabularyID) {
                                            // Attribute request
                                            getRequest('/vocabularies/' + vocabularyID + '/attributes').done(function(data) {
                                                attributes = data['_embedded']['attributes'];
                                                $('#attribute-level-optgroup').empty();
                                                $.each(attributes, function(index, attribute) {
                                                    if ($.inArray(attribute.level, levels) === -1) {
                                                        levels.push(attribute.level);
                                                        var option = document.createElement('option');
                                                        option.setAttribute('value', attribute.level);
                                                        option.innerHTML = attribute.level;
                                                        $('#attribute-level-optgroup').append(option);
                                                    }
                                                });
                                            });
                                        }

                                        function selectAttributeLevel(level) {
                                            $('#attribute-optgroup').empty();
                                            $.each(attributes, function(index, attribute) {
                                                if (attribute.level === level) {
                                                    var option = document.createElement('option');
                                                    option.setAttribute('value', Number(attribute.id));
                                                    option.innerHTML = attribute.name;
                                                    $('#attribute-optgroup').append(option);
                                                }
                                            });
                                        }
                                    </script>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="anno-adv-search" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="anno-adv-search-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="anno-adv-search-label">Advanced search</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <fieldset>
                                        <legend>Vocabulary</legend>
                                        <select id="anno-adv-search-vocabulary-select" class="form-control" onchange="selectVocabulary(value);">
                                            <optgroup id="anno-adv-search-vocabulary-optgroup" label="Select one">
                                                <option value="1">HCLS</option>
                                                <option value="2">Plaintext</option>
                                            </optgroup>
                                        </select>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Text</legend>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-terms">All of these words</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-terms"/>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-string">This exact phrase</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-string"/>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="anno-adv-search-none">None of these words</label>
                                            <input type="search" class="form-control" name="search" id="anno-adv-search-none"/>
                                        </div>

                                    </fieldset>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
    </body>
</html>
