<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: Request Security Answer</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
    </head>
    <body>
        <div class="alert alert-danger" th:if="${strErrMsg}"><strong th:text="${strErrMsg}"></strong>&nbsp;&nbsp;<span th:text="${errMsg}"></span></div>
        <form id="resetPwdForm" role="form" method="POST" action="" th:object="${info}">
            <input type="hidden" name="username" id="username" value="username" th:value="*{username}" th:field="*{username}" />
            <fieldset>
                <div class="form-group">
                    <label>Security question:</label>
                    <div class="alert alert-info"><strong th:text="*{question}"></strong></div>
                </div>
                <div class="form-group">
                    <label for="answer" class="control-label">Security Answer:</label>
                    <input type="text" id="answer" name="answer" class="form-control" th:field="*{answer}" required="required" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </fieldset>
        </form>
        <script src="../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../../../static/js/user/account/pwdReset.min.js" th:src="@{/js/user/account/pwdReset.min.js}"></script>
    </body>
</html>
