<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>CCD: Unauthorized Access</title>
        <link rel="stylesheet" href="../../static/css/statuscode.min.css" th:href="@{/css/statuscode.min.css}" />
    </head>
    <body>
        <h1>Unauthorized Access</h1>
        <p>Sorry, you need to <a href="../login.html" th:href="@{/login}">sign in</a> to view this page.</p>
    </body>
</html>
