<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Causal Web: Password Reset</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <p>
            Dear <span th:text="${data.username}">username</span>,
        </p>
        <p>You have made a request to reset your password.  Please click on the following link to reset your password.</p>
        <p>
            <a href="#" th:href="${data.resetPasswordURL}" th:text="${data.resetPasswordURL}">Reset Password</a>
        </p>
        <p>
            Thanks again for your registration,<br />
            Causal Web administrator
        </p>
    </body>
</html>
