<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>New User Registration</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <p>New User Registration</p>
        <table>
            <tr>
                <td>Email</td>
                <td th:text="${data.email}">tuser@localhost.com</td>
            </tr>
            <tr>
                <td>Registration Date</td>
                <td th:text="${#dates.format(data.registrationDate,'EEE, MMM dd, yyyy hh:mm aaa')}">Wed, February 24, 2016 03:38:40 PM</td>
            </tr>
            <tr>
                <td>Registration Location</td>
                <td th:text="${data.registrationLocation}">localhost</td>
            </tr>
        </table>
    </body>
</html>