<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: User Activation</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../home.html" th:href="@{/home}" th:text="${@environment.getProperty('ccd.title')}">Center for Casual Discovery</a>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">User Activation</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Congratulations, <span th:text="${username}">username</span>!  Your account has been activated.</h3>
                    <h4>You may now <a href="../shiroLogin.html" th:href="@{/login}">log onto</a> this site.</h4>
                </div>
            </div>
        </div>
    </body>
</html>
