.resumable-error {
    display: none;
    font-size: 14px;
    font-style: italic;
}
.resumable-drop {
    margin-top: 60px;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 80px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}
.resumable-drop i {
    font-size: 4em;
    display: block;
    color: #f5f5f5;
    text-shadow: 0 -1px 1px #d8d8d8;
}
.resumable-list {
    display: none;
    margin-top: 20px;
    margin-bottom: 10px
}
.resumable-dragover {
    color:#555;
    background-color:#ddd;
}
/* Uploader:  Progress bar */
.resumable-progress {
    margin: 30px 0 30px 0;
    width: 100%;
    display: none;
}
.progress-container {
    position: relative;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /*background: #45913A;*/
    width: 0;
}
.progress-text {
    font-size: 11px;
    line-height: 9px;
    padding-left: 10px;
}
.progress-pause {
    padding: 0 0 0 7px;
}
.progress-cancel {
    padding: 0 0 0 7px;
}
.progress-cancel-link {
    display: none;
}
.progress-resume-link {
    display: none;
}
.is-paused .progress-resume-link {
    display: inline;
}
.is-paused .progress-pause-link {
    display: none;
}
.is-complete .progress-pause {
    display: none;
}
iframe {
    width: 100%;
    height: 200px;
    border: none;
}
