<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Causal Web: Footer</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header"></div>
                        <p class="text-muted" th:text="${'Copyright &copy; ' + #dates.year(#dates.createNow()) + ' ' + @environment.getProperty('ccd.app.copyright')}"></p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
