<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Causal Web</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/metismenu/metisMenu.min.css" th:href="@{/vendor/metismenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendor/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.min.css}" />
        <script src="../../static/vendor/jquery/jquery-3.3.1.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
        <script src="../../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendor/metismenu/metisMenu.min.js" th:src="@{/vendor/metismenu/metisMenu.min.js}"></script>
        <script src="../../static/vendor/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendor/sb-admin-2/js/sb-admin-2.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/secured/home}">
                        <span class="pitt-color" th:text="${@environment.getProperty('ccd.app.title') + ' ' + @environment.getProperty('ccd.app.version')}">Center for Causal Discovery</span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" th:href="@{/secured/account}"><i class="fa fa-user fa-fw"></i> User Account</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" th:href="${appUser.federatedUser} ? ${@environment.getProperty('auth0.issuer') + 'v2/logout?returnTo='}+${#strings.replace(#httpServletRequest.getRequestURL(), #httpServletRequest.getRequestURI(), #httpServletRequest.getContextPath())}+${'/secured/logout&amp;client_id='+@environment.getProperty('auth0.clientId')} : @{/secured/logout}">
                                    <i class="fa fa-sign-out fa-fw"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="text-center">
                                <a href="#" th:href="@{/secured/home}"><img alt="CCD Logo" src="../../static/img/ccd_logo.png" th:src="@{/img/ccd_logo.png}" width="100" height="100" /></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-file-text"></i> File Management<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#" th:href="@{/secured/file/upload}"><i class="fa fa-upload fa-fw"></i> File Upload</a>
                                    </li>
                                    <li>
                                        <a href="#" th:href="@{/secured/file}"><i class="fa fa-file-text-o fa-fw"></i> File</a>
                                    </li>
                                    <li>
                                        <a href="#" th:href="@{/secured/file/group}"><i class="fa fa-object-group fa-fw"></i> File Group</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-bar-chart"></i> Algorithm<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#" th:href="@{/secured/algorithm/tetrad}"><i class="fa fa-fw fa-subscript"></i> Tetrad</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tasks fa-fw"></i> Job<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#" th:href="@{/secured/job/queue}"><i class="fa fa-fw fa-table"></i> Job Queue</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" th:href="@{/secured/feedback}"><i class="fa fa-comment fa-fw"></i> Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper"></div>
        </div>
    </body>
</html>
