<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Causal Web: User Profile</title>
        <meta name="description" content="causal" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../../../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../../../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../../../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../../../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <script src="../../../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script src="../../../../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../../../../static/js/collapse_panel.min.js"></script>
        <script>
            $(document).on('click', '#collapse_link', function (e) {
                collapseAction(this);
            });
        </script>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-12" id="password_change">
                <div class="panel panel-default">
                    <a id="collapse_link" class="panel-default" data-toggle="collapse" data-parent="#passwordChange" href="#passwordChangeBody">
                        <div class="panel-heading">
                            <h4><i class="fa fa-lock fa-fw"></i> Password Change<span class="pull-right"><i class="glyphicon glyphicon-chevron-down" th:class="${pwdChangeErr} ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'"></i></span></h4>
                        </div>
                    </a>
                    <div id="passwordChangeBody" class="panel-collapse collapse" th:class="${errorMsgPassword} ? 'panel-collapse collapse in' : 'panel-collapse collapse'">
                        <div class="panel-body">
                            <div class="alert alert-danger" role="alert" th:if="${errorMsgPassword}">
                                <div class="text-center" th:each="msg : ${errorMsgPassword}" th:text="${msg}"></div>
                            </div>
                            <form id="passwordChange" method="post" action="" th:action="@{/secured/user/account/profile/password/change}" th:object="${passwordChangeForm}" role="form">
                                <div class="form-group" th:class="${#fields.hasErrors('currentPassword')} ? 'form-group has-error' : (${errInvalidPwd} ? 'form-group alert alert-danger' : 'form-group')">
                                    <label th:if="${errInvalidPwd}" for="currentPassword">Current Password:
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span>Invalid password.</span>
                                    </label>
                                    <label th:unless="${errInvalidPwd}" for="currentPassword">Current Password:</label>
                                    <input id="currentPassword" name="currentPassword" class="form-control" type="password" value="" th:value="*{currentPassword}" th:field="*{currentPassword}" autofocus="autofocus" required="required" />
                                    <span class="help-block" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">Please enter your password.</span>
                                </div>
                                <div class="form-group" th:class="${#fields.hasErrors('newPassword')} ? 'form-group has-error' : 'form-group'">
                                    <label for="newPassword">New Password:</label>
                                    <input id="newPassword" name="newPassword" class="form-control" type="password" value="" th:value="*{newPassword}" th:field="*{newPassword}" required="required" />
                                    <span class="help-block" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Please enter your new password.</span>
                                </div>
                                <div class="form-group" th:class="${#fields.hasErrors('newConfirmPassword')} ? 'form-group has-error' : 'form-group'">
                                    <label for="newConfirmPassword">Confirm Password:</label>
                                    <input id="newConfirmPassword" name="newConfirmPassword" class="form-control" type="password" value="" th:value="*{newConfirmPassword}" th:field="*{newConfirmPassword}" required="required" />
                                    <span class="help-block" th:if="${#fields.hasErrors('newConfirmPassword')}" th:errors="*{newConfirmPassword}">Please reenter your new password.</span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-block btn-success" value="Save" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../../../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../../../../../static/js/validation/custom.min.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script>
            $('#passwordChange').validate({
                rules: {
                    currentPassword: {
                        minlength: 4,
                        maxlength: 10,
                        nowhitespace: true,
                        required: true
                    },
                    newPassword: {
                        minlength: 4,
                        maxlength: 10,
                        nowhitespace: true,
                        required: true
                    },
                    newConfirmPassword: {
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    currentPassword: "Please enter your current password.",
                    newPassword: "Please enter valid a password (4-10 chars).",
                    newConfirmPassword: "Password does not match."
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block'
            });
        </script>
    </body>
</html>
