.login-panel {
    margin-top: 25%;
}
/*.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 20px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}*/
.profile-img {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    display: block;
}
.forgot-password {
    color: rgb(104, 145, 162);
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
