@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
body {
    color: #333;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
}
.fa {
    color: #111150;
}
.pitt_color {
    color: #111150;
}
.panel-default_pitt {
    border-color: #111150;
}
.panel-default_pitt > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #111150;
}
.panel-default_pitt > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #111150;
}
.panel-default_pitt > .panel-heading {
    background-image: -webkit-linear-gradient(top, #000094 0%, #111150 100%);
    background-image:      -o-linear-gradient(top, #000094 0%, #111150 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000094), to(#111150));
    background-image:         linear-gradient(to bottom, #000094 0%, #111150 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000094', endColorstr='#111150', GradientType=0);
    background-repeat: repeat-x;
    color: #f5f5f5;
    border-color: #111150;
}
.btn-default_pitt {
    text-shadow: 0 1px 0 #000094;
    background-image: -webkit-linear-gradient(top, #000094 0%, #111150 100%);
    background-image:      -o-linear-gradient(top, #000094 0%, #111150 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000094), to(#111150));
    background-image:         linear-gradient(to bottom, #000094 0%, #111150 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000094fffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #111150;
}
.btn-default_pitt:hover,
.btn-default_pitt:focus {
    background-color: #111150;
    background-position: 0 -15px;
    border-color: #111150;
}
.btn-default_pitt:active,
.btn-default_pitt.active {
    background-color: #111150;
    border-color: #111150;
}
.btn-default_pitt {
    color: #f5f5f5;
}
.btn-default_pitt:focus,
.btn-default_pitt.focus {
    color: #f5f5f5;
}
.btn-default_pitt:hover {
    color: #f5f5f5;
}
a:link {
    text-decoration: none;
}
.modal-header {
    background-image: -webkit-linear-gradient(top, #000094 0%, #111150 100%);
    background-image:      -o-linear-gradient(top, #000094 0%, #111150 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000094), to(#111150));
    background-image:         linear-gradient(to bottom, #000094 0%, #111150 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000094', endColorstr='#111150', GradientType=0);
    background-repeat: repeat-x;
    color: #f5f5f5;
    border-color: #111150;
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.close_pitt {
    color: #fff;
}
.close_pitt:hover,
.close_pitt:focus {
    color: #fff;
}
.white {
    color: #fff;
}
.m-ticker span {
    display: block;
    font-size: 0.8em;
    line-height: 1em;
}
.nav > li > a {
    color: #333;
    font-size: 15px;
}
