<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Causal Web: User Registration</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.min.css}" />
        <style>
            textarea#agreement {
                width: 100%;
                height: 200px;
                border: 1px solid #ccc;
                background: #f2f2f2;
                font: normal arial;
                padding: 6px;
                color: #333;
                resize: none;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-pitt navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand navbar_color" href="#" th:href="@{/}">Causal Web</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form id="user_registration" role="form" method="post" action="" th:object="${userRegistrationForm}">
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="page-header">User Registration</h4>
                                </div>
                            </div>
                            <div class="row" th:if="${errorMsg}">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger text-center" role="alert">
                                        <p th:each="msg : ${errorMsg}" th:text="${msg}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default-pitt">
                                        <div class="panel-heading">
                                            <span class="panel-title">Account Information (required)</span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group" th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    <input type="email" name="email" class="form-control"  placeholder="Email" th:field="*{email}" required="required" th:readonly="${federated}" autofocus="autofocus" />
                                                </div>
                                                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Please enter a valid email.</span>
                                            </div>
                                            <div class="form-group" th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    <input type="password" name="password" class="form-control" placeholder="Password" th:field="*{password}" required="required" />
                                                </div>
                                                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Please enter a valid password.</span>
                                            </div>
                                            <div class="form-group" th:class="${#fields.hasErrors('confirmPassword')} ? 'form-group has-error' : 'form-group'">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" th:field="*{confirmPassword}" required="required" />
                                                </div>
                                                <span class="help-block" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Please re-enter the password.</span>
                                            </div>
                                            <div class="form-group" th:class="${#fields.hasErrors('agree')} ? 'form-group has-error' : 'form-group'">
                                                <div class="checkbox">
                                                    <label><input id="agree" type="checkbox" name="agree" th:field="*{agree}" required="required" /> Agree to</label>
                                                    <a href="#agreement" data-toggle="modal" data-target="#term_condition">Terms &amp; Conditions</a>
                                                </div>
                                                <span class="help-block" th:if="${#fields.hasErrors('agree')}" th:errors="*{agree}">You must agree to the terms and conditions.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="panel panel-default-pitt">
                                        <div class="panel-heading">
                                            <span class="panel-title">User Information (optional)</span>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input  type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" value="" th:value="*{firstName}" th:field="*{firstName}" th:readonly="${federated}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input  type="text" name="middleName" id="middleName" class="form-control" placeholder="Middle Name" value="" th:value="*{middleName}" th:field="*{middleName}" th:readonly="${federated}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" value="" th:value="*{lastName}" th:field="*{lastName}" th:readonly="${federated}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="submit" id="register" class="btn btn-lg btn-block btn-default-pitt" value="Sign Up" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="text-muted">Copyright &copy; <span th:text="${#dates.year(#dates.createNow()) + ' ' + @environment.getProperty('ccd.app.copyright')}">University of Pittsburgh</span></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="modal fade" id="term_condition" tabindex="-1" role="dialog" aria-labelledby="agreement" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <textarea id="agreement" readonly="readonly" th:utext="${@environment.getProperty('ccd.app.agreement')}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-lg btn-block btn-default-pitt" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../static/vendor/jquery/jquery-3.3.1.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
        <script src="../../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendor/jquery-validation/jquery.validate.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js}"></script>
        <script src="../../static/js/validation/custom.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script src="../../static/js/account/user-registration.js" th:src="@{/js/account/user-registration.min.js}"></script>
    </body>
</html>
