<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Causal Web: Categorized Files</title>
        <meta name="description" content="causal" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/datatables/DataTables-1.10.15/css/dataTables.bootstrap.min.css" th:href="@{/vendors/datatables/DataTables-1.10.15/css/dataTables.bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/datatables/Responsive-2.1.1/css/responsive.bootstrap.min.css" th:href="@{/vendors/datatables/Responsive-2.1.1/css/responsive.bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/x-editable/css/bootstrap-editable.min.css" th:href="@{/vendors/x-editable/css/bootstrap-editable.min.css}" />
        <link rel="stylesheet" href="../../static/css/file/categorizedFile.min.css" th:href="@{/css/file/categorizedFile.min.css}" />
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/x-editable/js/bootstrap-editable.min.js" th:src="@{/vendors/x-editable/js/bootstrap-editable.min.js}"></script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigation :: nav"></nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 id="page_title" class="page-header" th:text="${file.title}">File</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="view_file_info" class="panel panel-default" style="display: block;">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-file fa-fw"></i> File Information</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover table-responsive table-condensed">
                                    <tbody>
                                        <tr>
                                            <td><b>Name:</b></td>
                                            <td th:text="${file.name}"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Title:</b></td>
                                            <td><a href="#" class="editable editable-click" id="title" data-type="text" data-title="Enter file title." th:attr="data-pk=${file.id},data-url=@{/secured/file/mgmt/title}" th:text="${file.title}"></a></td>
                                        </tr>
                                        <tr>
                                            <td><b>Created:</b></td>
                                            <td th:text="${#dates.format(file.creationTime,'MMM dd, yyyy hh:mm:ss aaa')}"></td>
                                        </tr>
                                        <tr>
                                            <td><b>Size:</b></td>
                                            <td th:text="${@fileUtils.byteToSize(file.fileSize)}"></td>
                                        </tr>
                                        <tr>
                                            <td><b>MD5 Checksum:</b></td>
                                            <td th:text="${file.md5CheckSum}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <a id="categorize_file" class="panel-primary" data-toggle="collapse" data-parent="#categorize" href="#collapseCategory">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Categorize File<span class="pull-right"><i class="glyphicon glyphicon-chevron-down" th:class="${collapse} ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'"></i></span></h3>
                                </div>
                            </a>
                            <div id="collapseCategory" class="panel-collapse collapse" th:class="${collapse} ? 'panel-collapse collapse' : 'panel-collapse collapse in'">
                                <div class="panel-body">
                                    <form id="categorizeFile" method="post" action="" th:action="@{/secured/file/mgmt/categorize(id=${file.id})}" role="form" th:object="${categorizeFileForm}">
                                        <div class="form-group" th:class="${#fields.hasErrors('fileTypeId')} ? 'form-group has-error' : 'form-group'">
                                            <label>File Type:</label>
                                            <label class="radio-inline" th:each="opt : ${fileTypes}">
                                                <input type="radio" th:field="*{fileTypeId}" th:value="${opt.id}" required="required" /> <span th:text="${opt.displayName}">dataset</span>
                                            </label>
                                            <span class="help-block" th:if="${#fields.hasErrors('fileTypeId')}" th:errors="*{fileTypeId}">File ID is required.</span>
                                        </div>
                                        <div id="dataOpts" class="alert alert-success fileTypeOpt">
                                            <div class="form-group" th:class="${#fields.hasErrors('fileFormatId')} ? 'form-group has-error' : 'form-group'">
                                                <label>File Format:</label>
                                                <label class="radio-inline" th:each="opt : ${dataFileFormats}">
                                                    <input type="radio" th:field="*{fileFormatId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                </label>
                                                <span class="help-block" th:if="${#fields.hasErrors('fileFormatId')}" th:errors="*{fileFormatId}">File ID is required.</span>
                                            </div>
                                            <div id="delimOpts" class="alert alert-warning fileDelimOpt">
                                                <div class="form-group" th:class="${#fields.hasErrors('fileDelimiterTypeId')} ? 'form-group has-error' : 'form-group'">
                                                    <label>File Delimiter:</label>
                                                    <label class="radio-inline" th:each="opt : ${fileDelimiterTypes}">
                                                        <input type="radio" th:field="*{fileDelimiterTypeId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                    </label>
                                                    <span class="help-block" th:if="${#fields.hasErrors('fileDelimiterTypeId')}" th:errors="*{fileDelimiterTypeId}">File ID is required.</span>
                                                </div>
                                                <div class="form-group" th:class="${#fields.hasErrors('fileVariableTypeId')} ? 'form-group has-error' : 'form-group'">
                                                    <label>Variable Type:</label>
                                                    <label class="radio-inline" th:each="opt : ${fileVariableTypes}">
                                                        <input type="radio" th:field="*{fileVariableTypeId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                    </label>
                                                    <span class="help-block" th:if="${#fields.hasErrors('fileVariableTypeId')}" th:errors="*{fileVariableTypeId}">File ID is required.</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="quote_char">Quote Char:</label>
                                                    <input type="text" id="quote_char" class="form-control" maxlength="1" th:field="*{quoteChar}" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="miss_val_mrk">Missing Value Marker:</label>
                                                    <input type="text" id="miss_val_mrk" class="form-control" maxlength="10" th:field="*{missingValueMarker}" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="cmnt_mrk">Comment Marker:</label>
                                                    <input type="text" id="cmnt_mrk" class="form-control" maxlength="10" th:field="*{commentMarker}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div id="varOpts" class="alert alert-success fileTypeOpt">
                                            <div class="form-group" th:class="${#fields.hasErrors('fileFormatId')} ? 'form-group has-error' : 'form-group'">
                                                <label>File Format:</label>
                                                <label class="radio-inline" th:each="opt : ${varFileFormats}">
                                                    <input type="radio" th:field="*{fileFormatId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                </label>
                                                <span class="help-block" th:if="${#fields.hasErrors('fileFormatId')}" th:errors="*{fileFormatId}">File ID is required.</span>
                                            </div>
                                        </div>
                                        <div id="knwlOpts" class="alert alert-success fileTypeOpt">
                                            <div class="form-group" th:class="${#fields.hasErrors('fileFormatId')} ? 'form-group has-error' : 'form-group'">
                                                <label>File Format:</label>
                                                <label class="radio-inline" th:each="opt : ${knwlFileFormats}">
                                                    <input type="radio" th:field="*{fileFormatId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                </label>
                                                <span class="help-block" th:if="${#fields.hasErrors('fileFormatId')}" th:errors="*{fileFormatId}">File ID is required.</span>
                                            </div>
                                        </div>
                                        <div id="resultOpts" class="alert alert-success fileTypeOpt">
                                            <div class="form-group" th:class="${#fields.hasErrors('fileFormatId')} ? 'form-group has-error' : 'form-group'">
                                                <label>File Format:</label>
                                                <label class="radio-inline" th:each="opt : ${resultFileFormats}">
                                                    <input type="radio" th:field="*{fileFormatId}" th:value="${opt.id}" /> <span th:text="${opt.displayName}">tab</span>
                                                </label>
                                                <span class="help-block" th:if="${#fields.hasErrors('fileFormatId')}" th:errors="*{fileFormatId}">File ID is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-block btn-success" value="Save" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/vendors/datatable/js/jquery.dataTables.min.js" th:src="@{/vendors/datatable/js/jquery.dataTables.min.js}"></script>
        <script src="../../static/vendors/datatable/js/dataTables.bootstrap.min.js" th:src="@{/vendors/datatable/js/dataTables.bootstrap.min.js}"></script>
        <script src="../../static/vendors/datatable/responsive/js/dataTables.responsive.min.js" th:src="@{/vendors/datatable/responsive/js/dataTables.responsive.min.js}"></script>
        <script src="../../static/vendors/datatable/responsive/js/responsive.bootstrap.min.js" th:src="@{/vendors/datatable/responsive/js/responsive.bootstrap.min.js}"></script>
        <script src="../../static/vendors/datatables/DataTables-1.10.15/js/jquery.dataTables.min.js" th:src="@{/vendors/datatables/DataTables-1.10.15/js/jquery.dataTables.min.js}"></script>
        <script src="../../static/vendors/datatables/DataTables-1.10.15/js/dataTables.bootstrap.min.js" th:src="@{/vendors/datatables/DataTables-1.10.15/js/dataTables.bootstrap.min.js}"></script>
        <script src="../../static/vendors/datatables/Responsive-2.1.1/js/dataTables.responsive.min.js" th:src="@{/vendors/datatables/Responsive-2.1.1/js/dataTables.responsive.min.js}"></script>
        <script src="../../static/vendors/datatables/Responsive-2.1.1/js/responsive.bootstrap.min.js" th:src="@{/vendors/datatables/Responsive-2.1.1/js/responsive.bootstrap.min.js}"></script>
        <script src="../../static/vendors/datatables/DataTables-1.10.15/plugins/file-size.min.js" th:src="@{/vendors/datatables/DataTables-1.10.15/plugins/file-size.min.js}"></script>
        <script src="../../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js}"></script>
        <script src="../../static/js/validation/custom.min.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script src="../../static/js/collapse_panel.min.js" th:src="@{/js/collapse_panel.min.js}"></script>
        <script src="../../static/js/file/categorize.min.js" th:src="@{/js/file/categorize.min.js}"></script>
        <script src="../../static/js/file/categorizeValid.min.js" th:src="@{/js/file/categorizeValid.min.js}"></script>
    </body>
</html>
