<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title th:text="${httpStatus.pageTitle}">page title</title>
        <meta name="description" content="causal" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-static-top navbar_pitt">
            <div class="container">
                <a class="navbar-brand navbar_color" href="#" th:href="@{/}" th:text="${@environment.getProperty('ccd.app.title')}">Causal Web</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${httpStatus.title}">Oh, snap!</h1>
                    <h3 th:text="${httpStatus.message}">Something went wrong.</h3>
                </div>
            </div>
        </div>
    </body>
</html>
