<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: Login</title>
        <link rel="apple-touch-icon" href="../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../static/css/login.min.css" th:href="@{/css/login.min.css}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel login-panel panel-pitt">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${@environment.getProperty('ccd.title')}">Center for Causal Discovery</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img" src="../static/img/ccd_logo.png" th:src="@{/img/ccd_logo.png}" alt="profile picture" />
                                </div>
                            </div>
                            <div class="row">
                                <div th:if="${successMsg}">
                                    <div class="alert alert-success text-center" role="alert" th:text="${successMsg}"></div>
                                </div>
                                <div th:if="${errorMsg}">
                                    <div class="alert alert-danger text-center" role="alert" th:text="${errorMsg}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1">
                                    <form id="login" method="POST" action="" role="form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user pitt-color"></i></span> 
                                                <input class="form-control" placeholder="Username" name="username" type="text" autofocus="autofocus" value="" required="required" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock pitt-color"></i></span>
                                                <input class="form-control" placeholder="Password" name="password" type="password" value="" required="required" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="checkbox" name="rememberMe" value="true" checked="checked" /> Remember Me
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-block btn-pitt" value="Sign In" onClick="JavaScript:requestAnnotationsTokens()"/>
                                        </div>
                                    </form>
                                    <div style="border-top: 1px solid #ddd; padding-top:15px; font-size:85%">
                                        Forgot password?&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#securityQA">Click here.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom:25px">
                        Don't have an account? <a href="#" data-toggle="modal" data-target="#signup">Sign up!</a>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/centerFooter :: footer">
                <div class="row">
                    <div class="text-center">
                        <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                    </div>
                </div>
            </footer>
        </div>
        <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title pitt-color">CCD Account Request</h4>
                    </div>
                    <div class="modal-body">
                        <form id="registration" role="form" method="POST" action="user/registration" th:action="@{/user/registration}" th:object="${userRegistration}">
                            <fieldset>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user pitt-color"></i>
                                        </span> 
                                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus="autofocus" th:field="*{username}" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope pitt-color"></i>
                                        </span> 
                                        <input class="form-control" placeholder="Email" name="email" type="email" th:field="*{email}" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock pitt-color"></i>
                                        </span> 
                                        <input id="password" class="form-control" placeholder="Password" name="password" type="password" th:field="*{password}" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock pitt-color"></i>
                                        </span> 
                                        <input id="confirmPassword" class="form-control" placeholder="Confirm Password" name="confirmPassword" type="password" required="required" />
                                    </div>
                                </div>
                                <fieldset class="security_qa_border">
                                    <legend class="security_qa_border">Security Question/Answer</legend>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-question-circle pitt-color"></i>
                                            </span>
                                            <select id="secureQues" name="secureQues" class="form-control" title="Please select a security question." th:field="*{secureQues}" required="required">
                                                <option th:each="squestion : ${securityQuestions}" value="" th:value="${squestion.id}" th:text="${squestion.question}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user-secret pitt-color"></i>
                                            </span>
                                            <input id="secureAns" class="form-control" placeholder="Security Answer" name="secureAns" type="text" th:field="*{secureAns}" required="required" />
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <input id="agree" type="checkbox" name="agree" /> Agree to <a href="#agreement" data-toggle="modal" data-target="#agreement">Terms &amp; Conditions</a>
                                </div>
                                <button id="register" type="submit" class="btn btn-success pull-right">Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="agreement" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pitt-color">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <textarea id="agreement" readonly="readonly" th:utext="${@environment.getProperty('ccd.agreement')}"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="securityQA" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <h4 class="modal-title">CCD: Password Reset</h4>
                    </div>
                    <div class="modal-body">
                        <iframe class="embed-responsive-item" id="securityQAFrame" marginwidth="0" marginheight="0" scrolling="yes" src="" th:src="@{/user/account/reset/pwd}"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../static/js/login.min.js" th:src="@{/js/login.min.js}"></script>
        <script src="../static/js/annotations.js" th:src="@{/js/annotations.js}"></script>
    </body>
</html>
