<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title th:text="${message.headTitle}">CCD: Message</title>
        <link rel="apple-touch-icon" href="../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-pitt navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand navbar_color" href="#" th:href="@{/}">Causal Web</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="page-header" th:text="${message.messageTitle}">Message Title</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-success text-center" role="alert" th:if="${message.success}">
                        <div class="text-left" th:each="msg : ${message.messages}" th:text="${msg}"></div>
                    </div>
                    <div class="alert alert-danger text-center" role="alert" th:unless="${message.success}">
                        <div class="text-left" th:each="msg : ${message.messages}" th:text="${msg}"></div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="text-muted">Copyright &copy; <span th:text="${#dates.year(#dates.createNow()) + ' ' + @environment.getProperty('ccd.app.copyright')}">University of Pittsburgh</span></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
