<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: PC-Stable</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../static/vendors/sb-admin-2/css/sb-admin-2.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.css}" />
        <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
        <link rel="stylesheet" href="../static/css/stepwizard.css" th:href="@{/css/stepwizard.css}" />
        <link rel="stylesheet" href="../static/css/algorithm.css" th:href="@{/css/algorithm.css}" />
        <script src="../static/vendors/angularjs/angular.min.js" th:src="@{/vendors/angularjs/angular.min.js}"></script>
    </head>
    <body ng-app="">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigator :: nav">
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">PC-Stable</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <a href="#step1" type="button" class="btn btn-primary btn-circle">1</a>
                                    <p>Choose Dataset</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                    <p>Set Parameters</p>
                                </div>
                                <div class="stepwizard-step">
                                    <a href="#step3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                    <p>Run Algorithm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="algoForm" method="post" action="" role="form" th:object="${algoInfo}">
                            <div class="row setup-content" id="step1">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3>Step 1: Choose Your Dataset</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Dataset</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="dataset">Dataset:</label>
                                                    <select id="dataset" name="dataset" class="form-control" ng-model="dataset" required="required"
                                                            th:field="*{dataset}"
                                                            th:attr="ng-init='dataset = \'' + *{dataset} + '\''"
                                                            th:disabled="${#strings.isEmpty(algoInfo.dataset)}">
                                                        <option value="sim_data_100vars_100_cases.txt"
                                                                th:each="data : ${datasetList}"
                                                                th:value="${data.key}"
                                                                th:text="${data.value}"
                                                                th:disabled="${#strings.isEmpty(algoInfo.dataset)}">sim_data_100vars_100_cases.txt (75.48 kB)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn" th:disabled="${#strings.isEmpty(algoInfo.dataset)}">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step2">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3>Step 2: Parameters</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Algorithm Parameters</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="alpha" class="control-label">Alpha</label>
                                                    <input type="text" id="alpha" name="alpha" maxlength="10" class="form-control" placeholder="Alpha" ng-model="alpha" th:attr="ng-init='alpha=' + *{alpha}" th:field="*{alpha}" required="required" autofocus="autofocus" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="depth" class="control-label">Search Depth</label>
                                                    <input type="text" id="depth" name="depth" maxlength="10" class="form-control" placeholder="Depth" ng-model="depth" th:attr="ng-init='depth=' + *{depth}" th:field="*{depth}" required="required" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label for="verbose" class="control-label">
                                                            <input type="checkbox" id="verbose" name="verbose" ng-model="verbose" th:attr="ng-init='verbose=' + *{verbose}" th:field="*{verbose}" /> Verbose
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">JVM Parameters</h3>
                                                <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                            </div>
                                            <div class="panel-body" style="display: none;">
                                                <div class="form-group">
                                                    <label for="jvmOptions" class="control-label">JVM Options</label>
                                                    <input type="text" id="jvmOptions" name="jvmOptions" class="form-control" placeholder="example: -Xmx1024M" ng-model="jvmOptions" th:attr="ng-init='jvmOptions=' + *{jvmOptions}" th:field="*{jvmOptions}" />
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step3">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3> Step 3: Run the Algorithm</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Summary</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-2">Dataset:</td>
                                                                <td ng-bind="dataset"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-2">Alpha:</td>
                                                                <td ng-bind="alpha"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-2">Search Depth:</td>
                                                                <td ng-bind="depth"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-2">Verbose:</td>
                                                                <td ng-bind="verbose"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-2">JVM Options:</td>
                                                                <td ng-bind="jvmOptions"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg btn-block nextBtn">Run Algorithm!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../static/vendors/sb-admin-2/js/sb-admin-2.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.js}"></script>
        <script src="../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../static/js/pcstableValidate.js" th:src="@{/js/pcstableValidate.js}"></script>
        <script src="../static/js/stepwizard.js" th:src="@{/js/stepwizard.js}"></script>
        <script src="../static/js/algorithm.js" th:src="@{/js/algorithm.js}"></script>
    </body>
</html>
