<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>CCD Account Activation</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <p>Thank you for registering, <span th:text="${email}"></span>!</p>
        <p>Below is your default password.  Please change it as soon as possible:</p>
        <p th:text="${password}"></p>
    </body>
</html>
