<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registration Activation</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <p th:inline="text">Hello [[${username}]],</p>
        <p>
            Thank you for your registration.  Below is the summary of your registration:
        </p>
        <table>
            <caption><h4>User Information</h4></caption>
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td th:text="${username}">username</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${email}">email</td>
                </tr>
            </tbody>
        </table>
        <p>
            Please click <a href="#" th:href="${activationUrl}">here</a> to activate your account.
        </p>
    </body>
</html>
