<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>CCD Account Activation</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <p>Thank you for registering, <span th:text="${email}"></span>!</p>
        <p>Please click the link below to activate your account:</p>
        <p>
            Activation Link: <a href="#" th:href="${activationLink}" th:text="${activationLink}">http://localhost/activate?account=OWY2NmQwZWQtMmRhOS00NTljLThiZDAtODNjMmVhZWE4Y2Q2</a>
        </p>
    </body>
</html>
