<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: GFCI Discrete</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/css/algo/stepwizard.min.css" th:href="@{/css/algo/stepwizard.min.css}" /> 
        <link rel="stylesheet" href="../../static/css/algo/algorithm.min.css" th:href="@{/css/algo/algorithm.min.css}" />
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
    </head>
    <body ng-app="">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigator :: nav">
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">GFCI Discrete</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <button id="step1btn" class="btn btn-primary btn-circle" onclick="window.location.href = '#step1'">1</button>
                                    <p>Select Dataset</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step2btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step2'" disabled="disabled">2</button>
                                    <p>Set Parameters</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step3btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step3'" disabled="disabled">3</button>
                                    <p>Run Algorithm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="algoForm" method="post" action="" role="form" th:object="${algoInfo}">
                            <div class="row setup-content" id="step1">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3>Step 1: Select Dataset</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Dataset</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="dataset">Dataset: (Data must be summarized before appearing here. Only discrete data is analyzable by this algorithm.)</label>
                                                    <select id="dataset" name="dataset" class="form-control" ng-model="dataset" required="required"
                                                            th:field="*{dataset}"
                                                            th:attr="ng-init='dataset = \'' + *{dataset} + '\''"
                                                            th:disabled="${#strings.isEmpty(algoInfo.dataset)}">
                                                        <option value=""
                                                                th:each="data : ${datasetList}"
                                                                th:value="${data.key}"
                                                                th:text="${data.value}"
                                                                th:disabled="${#strings.isEmpty(algoInfo.dataset)}">sim_data_100vars_100_cases.txt (75.48 kB)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Prior Knowledge</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="priorKnowledge">Prior Knowledge File</label>
                                                    <select id="priorKnowledge" name="priorKnowledge" class="form-control" ng-model="priorKnowledge"
                                                            th:field="*{priorKnowledge}"
                                                            th:attr="ng-init='priorKnowledge = \'' + *{priorKnowledge} + '\''">
                                                        <option value=""
                                                                th:each="prior : ${priorList}"
                                                                th:value="${prior.key}"
                                                                th:text="${prior.value}">sim_data_100vars_100_cases.prior (75.48 kB)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Data Validations</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label for="skipCategoryLimit" class="control-label">
                                                            <input type="checkbox" id="skipCategoryLimit" name="skipCategoryLimit" ng-model="skipCategoryLimit" th:attr="ng-init='skipCategoryLimit=' + *{skipCategoryLimit}" th:field="*{skipCategoryLimit}" /> Skip validation that ensures the number of categories do not exceed 10.
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label for="skipUniqueVarName" class="control-label">
                                                            <input type="checkbox" id="skipUniqueVarName" name="skipUniqueVarName" ng-model="skipUniqueVarName" th:attr="ng-init='skipUniqueVarName=' + *{skipUniqueVarName}" th:field="*{skipUniqueVarName}" /> Skip validation that ensures unique variable name.
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn" th:disabled="${#strings.isEmpty(algoInfo.dataset)}">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step2">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3> Step 2: Set Parameters</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Algorithm Parameters</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="alpha" class="control-label">Alpha - Cutoff for p-values (alpha).</label>
                                                    <input type="number" id="alpha" name="alpha" maxlength="10" class="form-control" placeholder="Alpha" ng-model="alpha" th:attr="ng-init='alpha=' + *{alpha}" th:field="*{alpha}" required="required" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="structurePrior" class="control-label">Structure Prior</label>
                                                    <input type="number" id="structurePrior" name="structurePrior" maxlength="10" class="form-control" placeholder="Structure Prior" ng-model="structurePrior" th:attr="ng-init='structurePrior=' + *{structurePrior}" th:field="*{structurePrior}" required="required" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="samplePrior" class="control-label">Sample Prior</label>
                                                    <input type="number" id="samplePrior" name="samplePrior" maxlength="10" class="form-control" placeholder="Sample Prior" ng-model="samplePrior" th:attr="ng-init='samplePrior=' + *{samplePrior}" th:field="*{samplePrior}" required="required" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="maxDegree" class="control-label">Search Maximum Degree - The maximum degree of graph.</label>
                                                    <input type="number" id="maxDegree" name="maxDegree" maxlength="10" class="form-control" placeholder="MaxDegree" ng-model="maxDegree" th:attr="ng-init='maxDegree=' + *{maxDegree}" th:field="*{maxDegree}" required="required" />
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label for="faithfulnessAssumed" class="control-label">
                                                            <input type="checkbox" id="faithfulnessAssumed" name="faithfulnessAssumed" ng-model="faithfulnessAssumed" th:attr="ng-init='faithfulnessAssumed=' + *{faithfulnessAssumed}" th:field="*{faithfulnessAssumed}" /> Faithfulness Assumed - Yes if (one edge) faithfulness should be assumed
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label for="verbose" class="control-label">
                                                            <input type="checkbox" id="verbose" name="verbose" ng-model="verbose" th:attr="ng-init='verbose=' + *{verbose}" th:field="*{verbose}" /> Verbose Output - output includes extra information about the run
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-primary">
                                            <a id="optJvm" class="panel-primary" data-toggle="collapse" href="#collapseOptJvm">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Advanced Options For Java Virtual Machine (JVM)<span class="pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span></h3>
                                                </div>
                                            </a>
                                            <div id="collapseOptJvm" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="jvmMaxMem" class="control-label">Maximum memory allocation for the JVM. Enter 0 for default.</label>
                                                        <div class="input-group">
                                                            <input type="number" min="0" max="128" class="form-control" id="jvmMaxMem" name="jvmMaxMem" aria-describedby="mem_unit" ng-model="jvmMaxMem" th:attr="ng-init='jvmMaxMem=' + *{jvmMaxMem}" th:field="*{jvmMaxMem}" />
                                                            <span class="input-group-addon" id="mem_unit">Gigabyte</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row setup-content" id="step3">
                                <div class="col-xs-12">
                                    <div class="col-md-12">
                                        <h3> Step 3: Run Algorithm</h3>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Summary</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <caption>Dataset</caption>
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-3">File:</td>
                                                                <td ng-bind="dataset"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-striped">
                                                        <caption>Prior Knowledge</caption>
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-3">File:</td>
                                                                <td ng-bind="priorKnowledge"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-striped">
                                                        <caption>Parameters</caption>
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-3">Structure Prior:</td>
                                                                <td ng-bind="structurePrior"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Sample Prior:</td>
                                                                <td ng-bind="samplePrior"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Max Degree:</td>
                                                                <td ng-bind="maxDegree"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Faithfulness Assumed:</td>
                                                                <td ng-bind="faithfulnessAssumed"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Verbose:</td>
                                                                <td ng-bind="verbose"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Advanced JVM Options:</td>
                                                                <td>{{(jvmMaxMem == 0) ? 'JVM default' : '-Xmx' + jvmMaxMem + 'G'}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-striped">
                                                        <caption>Data Validations</caption>
                                                        <tbody>
                                                            <tr>
                                                                <td class="col-md-3">Ensure Categories is Limited to 10:</td>
                                                                <td ng-bind="!skipCategoryLimit"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="col-md-3">Ensure Unique Variable Name:</td>
                                                                <td ng-bind="!skipUniqueVarName"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-lg btn-block nextBtn">Run Algorithm!</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/vendors/angularjs/angular.min.js" th:src="@{/vendors/angularjs/angular.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../../static/js/validation/custom.min.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script src="../../static/js/algo/gfciDiscreteValidate.min.js" th:src="@{/js/algo/gfciDiscreteValidate.min.js}"></script>
        <script src="../../static/js/algo/stepwizard.min.js" th:src="@{/js/algo/stepwizard.min.js}"></script>
        <script src="../../static/js/collapse_panel.min.js" th:src="@{/js/collapse_panel.min.js}"></script>
        <script src="../../static/js/algo/algorithm.min.js" th:src="@{/js/algo/algorithm.min.js}"></script>
    </body>
</html>