<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CCD: Plot</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <style>
            iframe {
                width: 100%;
                height: 600px;
                border: 1px solid #DEDEDE;
                padding:10px;
            }
        </style>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigator :: nav">
            </nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Causal Graph of <span class="label label-primary" th:text="${plot}">Title</span></h3>
                        <ul>
                            <li>You can use the mouse wheel to zoom in/out this graph.</li>
                            <li>You can drag the entire graph by dragging an empty space on the graph.</li>
                            <li>You can highlight a node and all the edges of this node by double clicking the node, and double clicking again on any node to disable the highlighting.</li>
                            <li>You can search and locate a node by entering its name(case-insensitive) in the search box.</li>
                        </ul>
                    </div>
                </div>
                <div class="row" th:if="${isPag}">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Edge Types</th>
                                            <th>Present Relationships</th>
                                            <th>Absent Relationships</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="../../static/img/pags/small_ab_direct.png" th:src="@{/img/pags/small_ab_direct.png}" alt="A --&gt; B" /></td>
                                            <td>
                                                A is a cause of B.<br />
                                                It may be a direct or indirect cause that may include other measured variables. Also, there may be an unmeasured confounder of A and B.
                                            </td>
                                            <td>B is not a cause of A</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../static/img/pags/small_ab_bidirect.png" th:src="@{/img/pags/small_ab_bidirect.png}" alt="A &lt;-&gt; B" /></td>
                                            <td>There is an unmeasured confounder (call it L) of A and B. There may be measured variables along the causal pathway from L to A or from L to B.</td>
                                            <td>
                                                A is not a cause of B.<br />
                                                B is not a cause of A.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../static/img/pags/small_ab_pd_direct.png" th:src="@{/img/pags/small_ab_pd_direct.png}" alt="A o-&gt; B" /></td>
                                            <td>Either A is a cause of B (i.e, A --&gt; B) or there is an unmeasured confounder of A and B (i.e, A &lt;-&gt; B) or both.</td>
                                            <td>B is not a cause of A.</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../static/img/pags/small_ab_pd_bidrect.png" th:src="@{/img/pags/small_ab_pd_bidrect.png}" alt="A o-o B" /></td>
                                            <td>
                                                Exactly one of the following holds:
                                                <ol>
                                                    <li>A is a cause of B</li>
                                                    <li>B is a cause of A</li>
                                                    <li>there is an unmeasured confounder of A and B</li>
                                                    <li>both a and c</li>
                                                    <li>both b and c</li>
                                                </ol>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3">If an edge is dashed that means there is no latent confounder. Otherwise, there is possibly latent confounder.</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">If an edge is green that means it is definitely direct. Otherwise, it is possibly direct.</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <iframe src="#" th:src="@{/algorithm/results/d3graph(file=${fileName})}" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <a href="#" th:href="@{/algorithm/results/d3graph(file=${fileName})}" class="btn btn-info" role="button">View Full Screen</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Result Summary</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" th:each="category : ${categories}">
                                        <caption th:text="${category.key}"></caption>
                                        <tbody>
                                            <tr th:each="info : ${category.value}">
                                                <td class="col-md-4" th:text="${info.key}">File:</td>
                                                <td th:text="${info.value}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
