<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Center for Causal Discovery" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Causal Web: Tetrad</title>
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/metismenu/metisMenu.min.css" th:href="@{/vendor/metismenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendor/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendor/datatables/datatables.css" th:href="@{https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/sl-1.2.6/datatables.min.css}" />
        <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/css/stepwizard.css" th:href="@{/css/stepwizard.min.css}" />
        <link rel="stylesheet" href="../../static/css/collapse-panel.css" th:href="@{/css/collapse-panel.min.css}" />
        <script src="../../static/vendor/jquery/jquery-3.3.1.min.js" th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
        <script src="../../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendor/metismenu/metisMenu.min.js" th:src="@{/vendor/metismenu/metisMenu.min.js}"></script>
        <script src="../../static/vendor/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendor/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script src="../../static/vendor/datatables/datatables.min.js" th:src="@{https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/sl-1.2.6/datatables.min.js}"></script>
        <script src="../../static/js/stepwizard.js" th:src="@{/js/stepwizard.min.js}"></script>
        <script th:inline="javascript">
            var ws_tetrad_url = /*[[@{/secured/ws/algorithm/tetrad}]]*/ '';
        </script>
    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigation :: nav"></nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Tetrad</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <button id="step1btn" class="btn btn-success btn-circle" onclick="window.location.href = '#step1'">1</button>
                                    <p>Select Dataset</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step2btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step2'" disabled="disabled">2</button>
                                    <p>Select Algorithm</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step3btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step3'" disabled="disabled">3</button>
                                    <p>Set Parameters</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step4btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step4'" disabled="disabled">4</button>
                                    <p>Run Algorithm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${errorMsg}">
                    <div class="col-lg-12">
                        <div class="alert alert-danger text-center" role="alert">
                            <p th:each="msg : ${errorMsg}" th:text="${msg}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="tetradForm" method="post" action="" role="form" th:object="${tetradForm}">
                            <fieldset>
                                <input type="hidden" name="dataFileId" th:field="*{dataFileId}" />
                                <input type="hidden" name="singleFile" th:field="*{singleDataFile}" />
                                <input type="hidden" name="knwlFileId" th:field="*{knwlFileId}" />
                                <input type="hidden" name="varFileId" th:field="*{varFileId}" />
                                <div class="setup-content" id="step1">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="page-header">Step 1: Select Dataset</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Dataset</span>
                                                </div>
                                                <div class="panel-body">
                                                    <ul id="dataset_tab" class="nav nav-tabs">
                                                        <li class="active">
                                                            <a id="single" href="#single_data_tab" data-toggle="tab">Single Dataset</a>
                                                        </li>
                                                        <li>
                                                            <a id="multiple" href="#multi_data_tab" data-toggle="tab">Grouped Dataset</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="varType" class="form-group component-spacing">
                                                            <label>Variable Type:</label>
                                                            <label class="radio-inline" th:each="opt : ${varTypes}">
                                                                <input type="radio" name="varTypeId" th:field="*{varTypeId}" th:value="${opt.id}" /><span th:text="${opt.name}">&nbsp;tetrad variable</span>
                                                            </label>
                                                        </div>
                                                        <p>Click on the file below to select.</p>
                                                        <div class="tab-pane fade in active" id="single_data_tab">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table id="single_datatable" class="table table-striped table-hover table-condensed disabled compact" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>ID</th>
                                                                                    <th>Name</th>
                                                                                    <th>Creation Time</th>
                                                                                    <th>No. Cases</th>
                                                                                    <th>No. Variables</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="multi_data_tab">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table id="multi_datatable" class="table table-striped table-hover table-condensed disabled compact" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>ID</th>
                                                                                    <th>Name</th>
                                                                                    <th>Creation Time</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Knowledge (Optional)</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div style="margin-bottom: 30px;">
                                                        <span>Select a variable file to exclude variables from dataset.</span>
                                                        <span class="pull-right"><button type="button" id="clr_knwl_select" class="btn btn-default">Clear Selection</button></span>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table id="knowledge_datatable" class="table table-striped table-hover table-condensed compact" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>ID</th>
                                                                            <th>Name</th>
                                                                            <th>Creation Time</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Exclude Variables (Optional)</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div style="margin-bottom: 30px;">
                                                        <span>Select a variable file to exclude variables from dataset.</span>
                                                        <span class="pull-right"><button type="button" id="clr_var_select" class="btn btn-default">Clear Selection</button></span>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="table-responsive">
                                                                <table id="variable_datatable" class="table table-striped table-hover table-condensed compact" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>ID</th>
                                                                            <th>Name</th>
                                                                            <th>Creation Time</th>
                                                                            <th>No. Variables</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button id="step1NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="setup-content" id="step2">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="page-header">Step 2: Select Algorithm</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>File</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="condensed"><strong>Dataset:</strong></td>
                                                                    <td><span class="dataset_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Knowledge:</strong></td>
                                                                    <td><span class="knwl_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Exclude Variables:</strong></td>
                                                                    <td><span class="exclude_vars_name alert-warning"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Algorithm</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="form-group" id="algoType" th:class="${#fields.hasErrors('algoType')} ? 'form-group has-error' : 'form-group'">
                                                                <label>Show algorithms that:</label>
                                                                <div class="radio" th:each="opt : ${algoTypes}">
                                                                    <label>
                                                                        <input type="radio" th:field="*{algoType}" th:value="${opt.value}" required="required" /> <span th:text="${opt.text}">Algorithm Type</span>
                                                                    </label>
                                                                </div>
                                                                <span class="help-block" th:if="${#fields.hasErrors('algoType')}" th:errors="*{algoType}">Algorithm type is required.</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="algorithm">Choose algorithm:</label>
                                                                <select id="algorithm" class="form-control" size="8" th:field="*{algorithm}"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <div class="form-group">
                                                                <label for="description">Algorithm Description:</label>
                                                                <textarea id="description" rows="16" readonly="readonly" style="width: 100%; resize: none;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Independence Test and Score</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="score">Score</label>
                                                                <select id="score" name="score" class="form-control" size="5" th:field="*{score}"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="test">Test of Independence</label>
                                                                <select id="test" name="test" class="form-control" size="5" th:field="*{test}"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button id="step2NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="setup-content" id="step3">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="page-header">
                                                <span class="panel-title">Step 3: Set Parameters</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>File</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="condensed"><strong>Dataset:</strong></td>
                                                                    <td><span class="dataset_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Knowledge:</strong></td>
                                                                    <td><span class="knwl_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Exclude Variables:</strong></td>
                                                                    <td><span class="exclude_vars_name alert-warning"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>Algorithm</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="condensed"><strong>Algorithm:</strong></td>
                                                                    <td><span class="algo_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Test:</strong></td>
                                                                    <td><span class="test_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Score:</strong></span></td>
                                                                    <td><span class="score_name alert-warning"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Parameters</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="params"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button id="step3NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="setup-content" id="step4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="page-header">Step 4: Run Algorithm</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>File</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="condensed"><strong>Dataset:</strong></td>
                                                                    <td><span class="dataset_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Knowledge:</strong></td>
                                                                    <td><span class="knwl_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Exclude Variables:</strong></td>
                                                                    <td><span class="exclude_vars_name alert-warning"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>Algorithm</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="condensed"><strong>Algorithm:</strong></td>
                                                                    <td><span class="algo_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Test:</strong></td>
                                                                    <td><span class="test_name alert-warning"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="condensed"><strong>Score:</strong></td>
                                                                    <td><span class="score_name alert-warning"></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed" id="params_tbl">
                                                            <caption>Parameters</caption>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <div class="panel-heading">
                                                    <span class="panel-title">Job Information</span>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                                                        <label for="name">Name (Max 64 chars):</label>
                                                        <input id="name" class="form-control" type="text" th:field="*{name}" required="required" autofocus="autofocus" />
                                                        <span th:if="${#fields.hasErrors('name')}" class="help-block" th:errors="*{name}">Invalid name.</span>
                                                    </div>
                                                    <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
                                                        <label for="description">Description (Optional):</label>
                                                        <textarea id="description" class="form-control" name="description" th:field="*{description}" rows="5" style="width: 100%; resize: none;"></textarea>
                                                        <span th:if="${#fields.hasErrors('description')}" class="help-block" th:errors="*{description}">Invalid description.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default-pitt">
                                                <a id="collapse_link" class="panel-default-pitt collapsed" data-toggle="collapse" data-parent="#tetradForm" href="#collapseOptJvm">
                                                    <div class="panel-heading">
                                                        <span class="panel-title chevon">Advanced Options For Java Virtual Machine (JVM)</span>
                                                    </div>
                                                </a>
                                                <div id="collapseOptJvm" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label for="jvmMaxMem" class="control-label">Maximum memory allocation for the JVM. Enter 0 for default.</label>
                                                            <div class="input-group">
                                                                <input type="number" id="jvmMaxMem" class="form-control" aria-label="JVM memory" min="0" max="64" th:field="*{jvmMaxMem}" />
                                                                <span class="input-group-addon">Gigabyte</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-success btn-lg btn-block nextBtn">Run Algorithm!</button>   
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; <span th:text="${#dates.year(#dates.createNow()) + ' ' + @environment.getProperty('ccd.app.copyright')}">University of Pittsburgh</span></p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/vendor/momentjs/moment.min.js" th:src="@{/vendor/momentjs/moment.min.js}"></script>
        <script src="../../static/vendor/jquery-validation/jquery.validate.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js}"></script>
        <script src="../../static/js/validation/custom.min.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script src="../../static/js/algorithm/tetrad.js" th:src="@{/js/algorithm/tetrad.min.js}"></script>
    </body>
</html>
