#new-annotation {
    margin-bottom: 40px;
}

#anno-adv-search {
    bottom: 0;
    right: 0;
}

#anno-search-input-clear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #444;
}

form fieldset {
    margin-bottom: 20px;
}

form .control-group {
    margin-bottom: 10px;
}

.anno-date{
    font-size:12px;
}

.media {
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-left {
    padding-left: 10px;
}

.annotation {
    margin-bottom: 10px;
}

.anno-vocab {
    margin-bottom: 10px;
}

.anno-data-attribute {
    margin-bottom: 10px;
    margin-left: 1em;    
}

.anno-data-attribute p {
    margin: 0;
    margin-bottom: 5px;
}

.anno-data-value {
    margin-bottom: 15px;
    margin-left: 2em;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -18px;
    font-size: 15px;
}

.panel-footer {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.panel-footer button {
    padding: 5px;
}

.error {
    color: rgb(180, 101, 106);
    display: none;
}