<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Causal Web: Tetrad</title>
        <meta name="description" content="causal" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" href="../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../static/vendors/datatables/datatables.min.css" th:href="@{https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.1/sl-1.2.5/datatables.min.css}" />
        <link rel="stylesheet" href="../../static/css/styles.min.css" th:href="@{/css/styles.min.css}" />
        <link rel="stylesheet" href="../../static/css/algo/stepwizard.min.css" th:href="@{/css/algo/stepwizard.min.css}" />
        <link rel="stylesheet" href="../../static/css/collapse-panel.min.css" th:href="@{/css/collapse-panel.min.css}" />
        <style>
            #varType {
                margin-top: 20px;
            }
        </style>
        <script src="../../static/vendors/jquery/jquery.min.js" th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
        <script src="../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script src="../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script src="../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../static/vendors/datatables/datatables.min.js" th:src="@{https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.1/sl-1.2.5/datatables.min.js}"></script>
        <script src="../../static/js/algo/stepwizard.min.js" th:src="@{/js/algo/stepwizard.min.js}"></script>
        <script th:inline="javascript">
            var url_path = /*[[@{'/secured/algorithm/tetrad/'}]]*/ '';
        </script>
    </head>
    <body data-ng-app="">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:replace="fragments/navigation :: nav"></nav>
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Tetrad</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <button id="step1btn" class="btn btn-primary btn-circle" onclick="window.location.href = '#step1'">1</button>
                                    <p>Select Dataset</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step2btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step2'" disabled="disabled">2</button>
                                    <p>Select Algorithm</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step3btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step3'" disabled="disabled">3</button>
                                    <p>Set Parameters</p>
                                </div>
                                <div class="stepwizard-step">
                                    <button id="step4btn" class="btn btn-default btn-circle" onclick="window.location.href = '#step4'" disabled="disabled">4</button>
                                    <p>Run Algorithm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${errorMsg}">
                    <div class="col-lg-12">
                        <div class="alert alert-danger text-center" role="alert">
                            <p th:each="msg : ${errorMsg}" th:text="${msg}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form id="tetradForm" method="post" action="" role="form" th:object="${tetradForm}">
                            <fieldset>
                                <input type="hidden" name="datasetId" th:field="*{datasetId}" />
                                <input type="hidden" name="singleFile" th:field="*{singleFile}" />
                                <div class="row setup-content" id="step1">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3>Step 1: Select Dataset</h3>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Dataset</div>
                                                <div class="panel-body">
                                                    <ul id="dataset_tab" class="nav nav-tabs">
                                                        <li class="active">
                                                            <a id="single" href="#single_data_tab" data-toggle="tab">Single Dataset</a>
                                                        </li>
                                                        <li>
                                                            <a id="multiple" href="#multi_data_tab" data-toggle="tab">Grouped Dataset</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="varType" class="form-group">
                                                            <label>Variable Type:</label>
                                                            <label class="radio-inline" th:each="opt : ${varTypes}">
                                                                <input type="radio" name="varTypeId" th:field="*{varTypeId}" th:value="${opt.id}" /><span th:text="${opt.name}">&nbsp;tetrad variable</span>
                                                            </label>
                                                        </div>
                                                        <div class="tab-pane fade in active" id="single_data_tab">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table id="single_datatable" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>ID</th>
                                                                                    <th>Title</th>
                                                                                    <th>Creation Time</th>
                                                                                    <th>No. Cases</th>
                                                                                    <th>No. Variables</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="multi_data_tab">
                                                            <div class="panel panel-default">
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table id="multi_datatable" class="table table-striped table-hover table-condensed" cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>ID</th>
                                                                                    <th>Title</th>
                                                                                    <th>Creation Time</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="step1NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setup-content" id="step2">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3>Step 2: Select Algorithm</h3>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Algorithm Filters</div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div id="algoType" class="form-group" th:class="${#fields.hasErrors('algoType')} ? 'form-group has-error' : 'form-group'">
                                                                <label>Show algorithms that:</label>
                                                                <div class="radio" th:each="opt : ${algoTypes}">
                                                                    <label>
                                                                        <input type="radio" th:field="*{algoType}" th:value="${opt.value}" required="required" /> <span th:text="${opt.text}">Algorithm Type</span>
                                                                    </label>
                                                                </div>
                                                                <span class="help-block" th:if="${#fields.hasErrors('algoType')}" th:errors="*{algoType}">Algorithm type is required.</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="algorithm"> Choose algorithm:</label>
                                                                <select id="algorithm" class="form-control" size="10" th:field="*{algorithm}"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Independence Test and Score</div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="score">Score</label>
                                                                <select id="score" name="score" class="form-control" size="5" th:field="*{score}"></select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label for="test">Test of Independence</label>
                                                                <select id="test" name="test" class="form-control" size="5" th:field="*{test}"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="step2NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setup-content" id="step3">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3>Step 3: Set Parameters</h3>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Parameters</div>
                                                <div class="panel-body">
                                                    <div id="params"></div>
                                                </div>
                                            </div>
                                            <button id="step3NextBtn" type="button" class="btn btn-primary btn-lg btn-block nextBtn">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row setup-content" id="step4">
                                    <div class="col-xs-12">
                                        <div class="col-md-12">
                                            <h3>Step 4: Run Algorithm</h3>
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">Summary</div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>Dataset</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-3">File:</td>
                                                                    <td id="dataset_name"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-3">File Type:</td>
                                                                    <td id="data_type"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-3">Variable Type</td>
                                                                    <td id="var_type"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed">
                                                            <caption>Algorithm</caption>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="col-md-3">Algorithm:</td>
                                                                    <td id="algo_name"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-3">Score:</td>
                                                                    <td id="score_name"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="col-md-3">Test:</td>
                                                                    <td id="test_name"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-condensed" id="params_tbl">
                                                            <caption>Parameters</caption>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-lg btn-block nextBtn">Run Algorithm!</button>   
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <footer th:replace="fragments/footer :: footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header"></div>
                            <p class="text-muted">Copyright &copy; 1900 University of Pittsburgh Department of Biomedical Informatics</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="../../static/vendors/angularjs/angular.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>
        <script src="../../static/vendors/jquery-validation/jquery.validate.min.js" th:src="@{/vendors/jquery-validation/jquery.validate.min.js}"></script>
        <script src="../../static/vendors/momentjs/moment.min.js" th:src="@{/vendors/momentjs/moment.min.js}"></script>
        <script src="../../static/js/validation/custom.min.js" th:src="@{/js/validation/custom.min.js}"></script>
        <script src="../../static/js/algo/tetrad-valid.min.js" th:src="@{/js/algo/tetrad-valid.min.js}"></script>
        <script src="../../static/js/algo/tetrad.min.js" th:src="@{/js/algo/tetrad.min.js}"></script>
    </body>
</html>
