<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: Navigator</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" href="../../../static/apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />
        <link rel="icon" href="../../../static/favicon.ico" th:href="@{/favicon.ico}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/sb-admin-2/css/sb-admin-2.min.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"/>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-12">
                <form id="securityQA" method="post" action="" th:action="@{/user/profile/security}" th:object="${usqa}" role="form">
                    <div class="panel panel-default" id="view_usqa_panel">
                        <div class="panel-heading clearfix">
                            <div class="pull-left">
                                <h4><i class="fa fa-user fa-fw"></i> User Security Question &amp; Answer</h4>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="edit_usqa">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-responsive table-condensed">
                                        <tbody>
                                            <tr>
                                                <td><label>Question:</label> <span th:text="*{securityQuestion.question}">question</span></td>
                                            </tr>
                                            <tr>
                                                <td><label>Answer:</label> <span th:text="*{answer}">answer</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="edit_usqa_panel">
                        <div class="panel-heading clearfix">
                            <div class="pull-left">
                                <h4><i class="fa fa-user fa-fw"></i> User Security Question &amp; Answer</h4>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="cancel_usqa">
                                        <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="secureQues">Security Question</label>
                                        <select id="secureQues" name="secureQues" class="form-control" title="Please select a security question." th:field="*{securityQuestion}" required="required" autofocus="autofocus">
                                            <option th:each="squestion : ${securityQuestions}" value="" th:value="${squestion.id}" th:text="${squestion.question}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="secureAnsw" class="control-label">Security Answer</label>
                                        <input type="text" id="secureAnsw" name="secureAnsw" maxlength="10" class="form-control" th:field="*{answer}" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-block btn-success" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../../static/vendors/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.min.js}"></script>
        <script>
            $(document).ready(function () {
                $("#view_usqa_panel").show();
                $("#edit_usqa_panel").hide();

                $("#edit_usqa").click(function () {
                    $("#view_usqa_panel").hide();
                    $("#edit_usqa_panel").show();
                });
                $("#cancel_usqa").click(function () {
                    $("#view_usqa_panel").show();
                    $("#edit_usqa_panel").hide();
                });
            });
            $('#securityQA').validate({
                rules: {
                    secureQues: {
                        nowhitespace: true,
                        required: true
                    },
                    secureAnsw: {
                        minlength: 1,
                        maxlength: 25,
                        nowhitespace: true,
                        required: true
                    }
                },
                messages: {
                    currentPassword: "Please Select a security question.",
                    secureAnsw: "Please enter valid a password (1-25 chars). No space"
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        </script>
    </body>
</html>
