<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>CCD: User Profile</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap.min.css" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/bootstrap/css/bootstrap-theme.min.css" th:href="@{/vendors/bootstrap/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/metisMenu/metisMenu.min.css" th:href="@{/vendors/metisMenu/metisMenu.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/font-awesome/css/font-awesome.min.css" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" href="../../../static/vendors/sb-admin-2/css/sb-admin-2.css" th:href="@{/vendors/sb-admin-2/css/sb-admin-2.css}" />
        <link rel="stylesheet" href="../../../static/css/styles.css" th:href="@{/css/styles.css}" />
    </head>
    <body>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="" th:action="@{/user/profile/workspace}" th:object="${userWorkspace}" role="form">
                    <div class="panel panel-default" id="view_workspace_panel">
                        <div class="panel-heading clearfix">
                            <div class="pull-left">
                                <h4><i class="fa fa-user fa-fw"></i> Workspace</h4>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="edit_workspace">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-hover table-responsive table-condensed">
                                        <tbody>
                                            <tr>
                                                <td class="col-sm-3"><b>Workspace Directory:</b></td>
                                                <td th:text="*{workspace}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="edit_workspace_panel">
                        <div class="panel-heading clearfix">
                            <div class="pull-left">
                                <h4><i class="fa fa-user fa-fw"></i> Workspace</h4>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="cancel_workspace">
                                        <span class="glyphicon glyphicon-remove-sign"></span> Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="workspace">Workspace Directory:</label>
                                        <div class="input-group">
                                            <input id="workspace" name="workspace" class="form-control" type="text" value="" th:value="*{workspace}" required="required" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#browseModal">Browse...</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-block btn-success" value="Save" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newFolderModalLabel">Browse Workspace Directory</h4>
                </div>
                <div class="modal-body">
                    <div th:if="${userWorkspace.workspace}">
                        <iframe id="frmBrowse" src="" th:src="@{/dirBrowser(dir=${userWorkspace.workspace})}" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
                    </div>
                    <div th:if="${userWorkspace.workspace} == null">
                        <iframe id="frmBrowse" src="" th:src="@{/dirBrowser}" marginwidth="0" marginheight="0" scrolling="yes"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="$('#workspace').val($('#frmBrowse').contents().find('#selectedDir').val());">Select</button>
                </div>
            </div>
        </div>
        <script src="../../../static/vendors/jquery/jquery.min.js" th:src="@{/vendors/jquery/jquery.min.js}"></script>
        <script src="../../../static/vendors/bootstrap/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../../static/vendors/metisMenu/metisMenu.min.js" th:src="@{/vendors/metisMenu/metisMenu.min.js}"></script>
        <script src="../../../static/vendors/sb-admin-2/js/sb-admin-2.js" th:src="@{/vendors/sb-admin-2/js/sb-admin-2.js}"></script>
        <script>
                        $(document).ready(function () {
                            $("#view_workspace_panel").show();
                            $("#edit_workspace_panel").hide();

                            $("#edit_workspace").click(function () {
                                $("#view_workspace_panel").hide();
                                $("#edit_workspace_panel").show();
                            });
                            $("#cancel_workspace").click(function () {
                                $("#view_workspace_panel").show();
                                $("#edit_workspace_panel").hide();
                            });
                        });
        </script>
    </body>
</html>
